* {
  margin: 0;
  box-sizing: border-box;
}

.max-width-1440 {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

span {
  font-size: 20px;
}

body {
  background-color: rgba(16, 18, 24, 0.5);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}

header {
  background-color: #4d5161;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-logo {
  height: 64px;
}

.header-left-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-search {
  height: 32px;
  border-radius: 4px;
  border: 1px solid grey;
  padding-left: 8px;
}

.input-search:focus-visible {
  outline: 1px solid #e74a47;
}

footer {
  background-color: #4d5161;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.footer-logo {
  height: 96px;
  filter: invert(1);
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.pokemon-img {
  height: 150px;
}

.card {
  border-radius: 8px;
  margin: 8px;
  width: 200px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: 300ms ease-out;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  background-color: #4d5161;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 8px;
}

.card-footer {
  background-color: #4d5161;
  border-radius: 0 0 8px 8px;
  height: 40px;
  padding: 8px;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.overlay-content {
  width: 300px;
}



.overlay-pokemon-specs-headline {
  background-color: #87888b;
  display: flex;
  justify-content: space-around;
}

.overlay-pokemon-specs-headline a {
  padding: 4px;
  width: 100%;
  text-align: center;
  border: 1px solid grey;
  cursor: pointer;
}

.overlay-pokemon-specs-headline a:hover {
  border-bottom: 1px solid #e74a47;
}

.overlay-pokemon-specs {
  background-color: #4d5161;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  border-radius:  0 0 8px 8px;
}

.overlay-card-footer {
  background-color: #4d5161;
  height: 40px;
  padding: 8px;
  text-align: center;
}

.d-none {
    display: none;
  }
